<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="form-group">
                    <label for=""></label>
                    <input 
                    #input 
                    (keyup.enter)="buscarMedico(input.value)" 
                    
                    type="text" 
                    class="form-control" 
                    name=""
                    aria-describedby="helpId" 
                    placeholder="Buscar médicos">
                    <small  class="form-text text-muted">Presione enter para la búsqueda</small>
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-5x" aria-hidden="true"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="float-left">
                        <h3 class="card-title">Médicos registrados (<small>{{totalRegistros}}</small>)</h3>
                </div>
                <div class="float-right">
                    <button 
                    [routerLink]="['/medico','nuevo']"

                    type="button" 
                    class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Crear Médico
                    </button>
                </div>
                
                <div class="table-responsive">
                    <table class="table color-bordered-table inverse-bordered-table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Médico</th>
                                <th>Hospital</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">

                                <td>
                                    <img 
                                    (click)="mostrarModal(medico._id)"
                                    [src]="(medico.img | imagen:'medicos')" 
                                    
                                    class="img-50 pointer">
                                </td>

                                <td>
                                    {{medico.nombre}}
                                </td>

                                <td>
                                    {{medico['hospital'].nombre}}
                                </td>

                                <td class="text-nowrap">
                                    <!-- Actualizar médico -->
                                    <button 
                                    [routerLink]="['/medico', medico._id]" 
                                    
                                    type="button"
                                    class="btn btn-primary mr-2">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <!-- Borrar médico -->
                                    <button 
                                    (click)="borrarMedico(medico)" 
                                    
                                    type="button" 
                                    class="btn btn-danger ">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary mr-3">Anteriores</button>
                <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>