<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Configuración</h4>
                <h6 class="card-subtitle">Perfil del usuario</h6>
                <form 
                    ngNaviteValidate 
                    #f="ngForm"
                    (ngSubmit)="guardar(f.value)"

                    class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input 
                            [ngModel]="usuario.nombre" 
                            name="nombre"
                            
                            required
                            type="text" 
                            class="form-control" 
                            id="exampleInputuname" 
                            placeholder="Nombre usuario"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Dirección de correo</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input  
                            [ngModel]="usuario.email" 
                            [disabled]="usuario.google"
                            name="email"

                            required
                            type="email" 
                            class="form-control" 
                            id="exampleInputEmail1" 
                            placeholder="Correo"
                            >
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i> Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografía del usuario</h4>
                <div class="card-body text-center">
                        <div class="m-t-30"> 
                            <img *ngIf="!imagenTemporal" [src]="usuario.img | imagen" class="img-fluid img-thumbnail" width="150">
                            <img  *ngIf="imagenTemporal" [src]="imagenTemporal" class="img-fluid img-thumbnail"  width="150">
                        </div>
                    </div>
                <div class="form-group">
                    <label>Subir Fotografía</label>
                    <input 
                    (change)="seleccionImagen($event.target.files[0])"

                    type="file" 
                    class="form-control" 
                    id="exampleInputFile" 
                    aria-describedby="fileHelp"
                    >
                </div>
                <button 
                (click)="cambiarImagen()"
                [disabled]="!imagenSubir"

                type="button" 
                class="btn btn-success waves-effect waves-light m-r-10"
                >Actualizar</button>

            </div>
        </div>
    </div>
</div>